// =======================================
// _var.scss
// =======================================

// base
$__RootFontSize: 100px !default;

// font
$__FontSize: 14px !default;
$__FontColor: #333 !default;

// grid
$__GridColumns: 24 !default;
$__GridGutter: 2% !default;
$__GridCondensed: true !default;
